<% layout("/layouts/boilerplate.ejs") -%>
<body>
    <h3>All Listings</h3>
    

    



    
    
    <div class="cards">
        <% for(listing of allListings){ %>
            <a href="/listings/<%=listing._id%>">
         <div class="card">
             <img src="<%= listing.image %>" class="card-img-top" alt="image">
             <div class="card-body">
              <b>
                <b> <h1 class="card-title"><%= listing.title %></h1></b>
            </b>
               <p class="card-text">
                <span class="price">
                    <i class="fa-solid fa-indian-rupee-sign"></i><b><%= listing.price.toLocaleString("en-IN")%></b>
                </span>
              <span class="night">/night</span>
            </p>
             </div>
           </div>  
        </a>

         <%}%>
    </div>





   




</body>


