<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>I am the home page</h1>
    <h3><%= 1+3 %></h3>
    <h3><%= 1+3 %></h3>
    <h3><%= "Sohrab".toUpperCase()%></h3>
    <h3><%= ["Hello", "salam", "hii"][1] %></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla maxime saepe ipsum quos similique nemo assumenda
        neque architecto id rerum sunt fugit voluptatem illo explicabo fuga quisquam quas labore, laboriosam eaque
        sapiente magnam! Dolores aspernatur ullam ut eaque laboriosam!</p>
        
     
        
        <button>click me</button>
</body>

</html>