<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>intapage</title>
</head>
<body>
    <h1>welcome to the page @<%=  username %></h1>
    <button>follow</button>
    <button>message</button>
    <!-- printing list of followers using for loop in ejs -->
     <% for(let name of followers) { %> 
        <li><%=name%></li>
     <% } %>
</body>
</html>


   
