<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rollDice</title>
</head>
<body>
    <h1> the value of Dice is :<%= num %></h1>
    <!-- using conditional in ejs -->
    <% if(num==6){ %>
        <h2>nice!roll the dice again</h2>
        <% } %>
</body>
</html>


