<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>newPost</title>
</head>
<body>

    <!-- this form is taking the input and when we submit it it redicts to the http://localhost:8080/posts as a post request -->
    <form method="post" action="http://localhost:8080/posts">  <br> <br>
        <input type="text" placeholder="username" name="username"> <br> <br>
        <textarea style="height: 150px;" name="content" placeholder="write your thoughts"></textarea>  <br> <br>
        <button>submit</button> 
    </form>
</body>
</html>