*{
    padding: 0;
    margin: 0;
    font-family: poppins;
}

.main{
    background-image: url(photo.jpg);
    /* height: 100vh; */
    background-color: cover;
    height: 100vh;
}
.slide_bar{
    background-color: rgb(255, 255, 255, 0.1);
    width: 200px;
    height: 100%;
    position: fixed;
    left: -200px;
    box-shadow: 0 0 4px rgb(255, 255, 255, 0.5);
    transition: all  0.3s linear;
}

li{
    list-style: none;
}

.head{
    display: flex;

    padding: 10px 10px 10px 20px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.3);
    height: 55px;
}
.head a{
    text-decoration: none;
    font-weight: 700;
    font-size: 1.4em;
}

a{
    text-decoration: none;
    color: white;
}
.head i{
    font-size: 25px;
    padding-right: 4px;
    color: rgb(221, 217, 217);
}
#check{
    display: none;
}
.btn_one{
    font-size: 25px;
    padding: 0 0 0 10px;
    color: white;
    position: fixed;
    z-index: 2;
    left: 10px;
    top: 10px;
    cursor: pointer;
}

.btn_one i, .head i{
    cursor: pointer;
    transition: all 0.3s linear;
}
.menu ul{
    display: flex;
    flex-direction: column;
}
.menu ul li{
    padding: 15px 0 20px 0;
    border: solid 2px black;
    
    width: 98.5%;
    
}
.menu ul li i{
    padding: 0 10px 0 30px;
    color: white;
}

.follow ul{
    position: relative;
    top: 150px;
    text-align: center;
}

.follow ul a{
    padding: 8px;
    opacity: 0.5;
    
}

.menu ul li:hover{
    box-shadow: 0 0 7px rgba(255, 255, 255, 0.6);
}

.follow ul a:hover{
    opacity: 1;
    transform: scale(1.1);
}

#check:checked ~ .slide_bar{
    left: 0;
}

#check:checked ~ .btn_one i{
    opacity: 0;
}

.btn_one i:hover {
    font-size: 120%;
}

.head i:hover{
    font-size: 1.8em;
}