<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>send msg</title>
</head>
<body>
      <form method="post" action="/chats">
        <input name="from" placeholder="Sender" type="text"> <br><br>
        <textarea name="msg" cols="50" rows="15" placeholder="Enter your message here"></textarea> <br><br>
        <input type="text" name="to" placeholder="Receiver"><br><br>
        <button>Submit</button>
      </form>
</body>
</html>