<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add user</title>
</head>
<body>
    <form method="post" action="/user">

        <textarea name="username" placeholder="enter username"></textarea>
        <input type="password" name="password" placeholder="password">
        <input type="text" name="email" placeholder="Email">
        <button>submit</button>

    </form>
</body>
</html>